{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub Models API",
    "version": "2026-03-10",
    "description": "Static TinyTinkerer reference for the GitHub Models catalog, chat completions, and embeddings endpoints."
  },
  "servers": [
    {
      "url": "https://models.github.ai"
    }
  ],
  "paths": {
    "/catalog/models": {
      "get": {
        "operationId": "listGitHubModels",
        "summary": "List all models",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inference/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create a chat completion",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/inference/chat/completions": {
      "post": {
        "operationId": "createOrgChatCompletion",
        "summary": "Create an organization-attributed chat completion",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/Org"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/inference/embeddings": {
      "post": {
        "operationId": "createEmbedding",
        "summary": "Create embeddings",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/inference/embeddings": {
      "post": {
        "operationId": "createOrgEmbedding",
        "summary": "Create organization-attributed embeddings",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/Org"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersion": {
        "in": "query",
        "name": "api-version",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "Org": {
        "in": "path",
        "name": "org",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CatalogModel": {
        "type": "object",
        "required": ["id", "name", "publisher", "registry"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "registry": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "version": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limits": {
            "$ref": "#/components/schemas/ModelLimits"
          },
          "rate_limit_tier": {
            "type": "string"
          },
          "supported_input_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supported_output_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "ModelLimits": {
        "type": "object",
        "properties": {
          "max_input_tokens": {
            "type": ["number", "null"]
          },
          "max_output_tokens": {
            "type": ["number", "null"]
          }
        },
        "additionalProperties": true
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "frequency_penalty": {
            "type": "number"
          },
          "max_tokens": {
            "type": "integer"
          },
          "modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "presence_penalty": {
            "type": "number"
          },
          "response_format": {
            "type": "object",
            "additionalProperties": true
          },
          "seed": {
            "type": "integer"
          },
          "stream": {
            "type": "boolean"
          },
          "stream_options": {
            "type": "object",
            "additionalProperties": true
          },
          "stop": {},
          "temperature": {
            "type": "number"
          },
          "tool_choice": {},
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "top_p": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["assistant", "developer", "system", "user"]
          },
          "content": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "EmbeddingRequest": {
        "type": "object",
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {},
          "encoding_format": {
            "type": "string"
          },
          "dimensions": {
            "type": "integer"
          },
          "user": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "EmbeddingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      }
    },
    "securitySchemes": {
      "BearerToken": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerToken": []
    }
  ]
}
