{
  "openapi": "3.1.0",
  "info": {
    "title": "TinyTinkerer Edge Models Proxy",
    "version": "0.1.0",
    "description": "Static OpenAPI reference for TinyTinkerer's GitHub Models edge proxy."
  },
  "servers": [
    {
      "url": "https://api.tiny.nntin.xyz"
    }
  ],
  "paths": {
    "/api/models/list": {
      "get": {
        "operationId": "listModels",
        "summary": "List GitHub Models through the edge proxy",
        "responses": {
          "200": {
            "description": "Model catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/models/chat": {
      "post": {
        "operationId": "createModelsChat",
        "summary": "Proxy a GitHub Models chat completion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelsChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response or SSE stream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ModelsListResponse": {
        "type": "object",
        "required": ["models"],
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitHubModelEntry"
            }
          }
        },
        "additionalProperties": false
      },
      "GitHubModelEntry": {
        "type": "object",
        "required": ["id", "label"],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": ["chat", "embedding"]
          },
          "name": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "registry": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "version": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limits": {
            "type": "object",
            "properties": {
              "max_input_tokens": {
                "type": ["number", "null"]
              },
              "max_output_tokens": {
                "type": ["number", "null"]
              }
            },
            "additionalProperties": true
          },
          "rate_limit_tier": {
            "type": "string"
          },
          "supported_input_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supported_output_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "ModelsChatRequest": {
        "type": "object",
        "required": ["messages"],
        "properties": {
          "model": {
            "type": "string"
          },
          "stream": {
            "type": "boolean"
          },
          "messages": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        },
        "additionalProperties": false
      },
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["developer", "system", "user", "assistant"]
          },
          "content": {
            "type": "string",
            "maxLength": 32000
          }
        },
        "additionalProperties": false
      },
      "ModelsChatResponse": {
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": ["string", "null"]
                    }
                  },
                  "additionalProperties": true
                },
                "finish_reason": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "number"
              },
              "completion_tokens": {
                "type": "number"
              },
              "total_tokens": {
                "type": "number"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "EdgeErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RateLimitPayload": {
        "type": "object",
        "required": ["code", "error", "retryAfterMs", "retryAt"],
        "properties": {
          "code": {
            "const": "rate_limited"
          },
          "error": {
            "type": "string"
          },
          "retryAfterMs": {
            "type": "number"
          },
          "retryAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      }
    },
    "responses": {
      "Error": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EdgeErrorResponse"
            }
          }
        }
      },
      "RateLimit": {
        "description": "Rate limited",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitPayload"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerToken": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerToken": []
    }
  ]
}
