{
  "openapi": "3.1.0",
  "info": {
    "title": "TinyTinkerer Edge API",
    "version": "0.1.0",
    "description": "OpenAPI contract for the TinyTinkerer edge Worker. This document is auto-generated from the edge code (Hono routes + shared Zod contracts) by scripts/generate-edge-openapi.ts and is the published contract consumed by the frontends. Do not edit it by hand — change the route definitions in apps/edge/src/openapi/routes.ts or the schemas in @tinytinkerer/contracts."
  },
  "servers": [
    {
      "url": "https://api.tiny.nntin.xyz"
    }
  ],
  "security": [
    {
      "BearerToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerToken": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "SystemStatus": {
        "type": "object",
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/ServiceStatus"
          },
          "models": {
            "$ref": "#/components/schemas/ServiceStatus"
          },
          "search": {
            "$ref": "#/components/schemas/ServiceStatus"
          }
        },
        "required": [
          "auth",
          "models",
          "search"
        ]
      },
      "ServiceStatus": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "ready",
              "degraded",
              "offline"
            ]
          },
          "detail": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "state",
          "detail"
        ]
      },
      "GitHubExchangeResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "GitHubExchangeRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1
          },
          "redirectUri": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "code"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        },
        "required": [
          "query",
          "results"
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "url",
          "snippet"
        ]
      },
      "EdgeErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 2,
            "maxLength": 500
          },
          "maxResults": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 10
          }
        },
        "required": [
          "query"
        ]
      },
      "ModelsListResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitHubModelEntry"
            }
          }
        },
        "required": [
          "models"
        ]
      },
      "GitHubModelEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "kind": {
            "$ref": "#/components/schemas/GitHubModelKind"
          },
          "name": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "registry": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "version": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limits": {
            "$ref": "#/components/schemas/GitHubModelLimits"
          },
          "rate_limit_tier": {
            "type": "string"
          },
          "supported_input_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supported_output_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "label"
        ]
      },
      "GitHubModelKind": {
        "type": "string",
        "enum": [
          "chat",
          "embedding"
        ]
      },
      "GitHubModelLimits": {
        "type": "object",
        "properties": {
          "max_input_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "max_output_tokens": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "ModelsChatResponse": {
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelsChatChoice"
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "number"
              },
              "completion_tokens": {
                "type": "number"
              },
              "total_tokens": {
                "type": "number"
              }
            }
          }
        }
      },
      "ModelsChatChoice": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "role": {
                "type": "string"
              },
              "content": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "finish_reason": {
            "type": "string"
          }
        }
      },
      "RateLimitPayload": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "rate_limited"
            ]
          },
          "error": {
            "type": "string"
          },
          "retryAfterMs": {
            "type": "number",
            "minimum": 0
          },
          "retryAt": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "error",
          "retryAfterMs",
          "retryAt"
        ]
      },
      "ModelsChatRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "stream": {
            "type": "boolean"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "maxItems": 100
          }
        },
        "required": [
          "messages"
        ]
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "developer",
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "maxLength": 32000
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "McpDiscoveryResult": {
        "type": "object",
        "properties": {
          "serverId": {
            "type": "string"
          },
          "serverName": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpToolMeta"
            }
          },
          "syncedAt": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "serverId",
          "serverName",
          "tools",
          "syncedAt"
        ]
      },
      "McpToolMeta": {
        "type": "object",
        "properties": {
          "toolName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "inputSchema": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "toolName",
          "description",
          "inputSchema"
        ]
      },
      "McpDiscoverRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "bearerToken": {
            "type": "string"
          }
        },
        "required": [
          "url"
        ]
      },
      "McpCallResponse": {
        "type": "object",
        "properties": {
          "serverName": {
            "type": "string"
          },
          "toolName": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "raw": {},
          "isError": {
            "type": "boolean"
          }
        },
        "required": [
          "serverName",
          "toolName",
          "text",
          "isError"
        ]
      },
      "McpCallRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "bearerToken": {
            "type": "string"
          },
          "toolName": {
            "type": "string"
          },
          "arguments": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "url",
          "toolName",
          "arguments"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Report edge service health",
        "security": [],
        "responses": {
          "200": {
            "description": "Service status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStatus"
                }
              }
            }
          }
        }
      }
    },
    "/auth/github/exchange": {
      "post": {
        "summary": "Exchange a GitHub OAuth code for an access token",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-App-Version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Build-Hash",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Install-ID",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-GitHub-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitHubExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token or error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid code or failed exchange",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubExchangeResponse"
                }
              }
            }
          },
          "501": {
            "description": "OAuth not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubExchangeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/search": {
      "post": {
        "summary": "Proxy a Tavily web search",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-App-Version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Build-Hash",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Install-ID",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-GitHub-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Search unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/models/list": {
      "get": {
        "summary": "List GitHub Models through the edge proxy",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-App-Version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Build-Hash",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Install-ID",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-GitHub-ID",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Model catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Catalogue temporarily unavailable",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Upstream timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/models/chat": {
      "post": {
        "summary": "Proxy a GitHub Models chat completion",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-App-Version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Build-Hash",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Install-ID",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-GitHub-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelsChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion (JSON) or Server-Sent Events stream",
            "headers": {
              "x-ratelimit-limit-requests": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-remaining-requests": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-reset-requests": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-renewalperiod-requests": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-limit-tokens": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-remaining-tokens": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-reset-tokens": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-renewalperiod-tokens": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-abusepenalty-active": {
                "schema": {
                  "type": "string"
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-limit-requests": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-remaining-requests": {
                "schema": {
                  "type": "string"
                },
                "required": false
              },
              "x-ratelimit-reset-requests": {
                "schema": {
                  "type": "string"
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitPayload"
                }
              }
            }
          },
          "500": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Upstream unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Upstream timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/discover": {
      "post": {
        "summary": "Discover tools exposed by an MCP server",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-App-Version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Build-Hash",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Install-ID",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-GitHub-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpDiscoverRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discovered tools",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpDiscoveryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/call": {
      "post": {
        "summary": "Invoke a tool on an MCP server",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-App-Version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Build-Hash",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-Install-ID",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "X-GitHub-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
