:root {
  --ifm-color-primary: #57534e;
  --ifm-color-primary-dark: #44403c;
  --ifm-color-primary-darker: #3f3a37;
  --ifm-color-primary-darkest: #292524;
  --ifm-color-primary-light: #78716c;
  --ifm-color-primary-lighter: #a8a29e;
  --ifm-color-primary-lightest: #d6d3d1;
}
